/* Generic */

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightgrey;
}

.task-section, .button-section {
    background-color: white;
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

/* Header */

header {
    background-color: white;
    padding: 0.5rem 2rem;
    line-height: 4.5rem;
    height: 6rem;
}

.logo-text {
    display: inline;
}

.logo, .logo-text {
    vertical-align: middle;
}

/* Task button section */

.button-section {
    margin: 5rem auto 1rem;
}

/* Utility */